body{
  background-color: #ecf0f1;
  font-family: 'Montserrat', sans-serif;

}

.nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 7fr;
  background-color: black;
}

.nav-bar a{
  text-decoration: none;
  color:white;
}

.head{
display: grid;
padding: 18%;

}

